body {
    background-color:white;
    margin: 0;
    height: 100%;
}

#Header {
    background-color: lightgray;
    font-size: 20px;
    text-align: center;
    font-family: cursive;
    border-bottom: 1mm solid black;
    margin: 0;
    padding: 2px;
}

h3 {
    text-align: center;
}

#input {
    justify-content: space-evenly;
    text-align: center;
}

#submitInfoButton {
    margin: 10px;
    position: center;
}

.contentDiv {
    padding: 5vw;
    justify-content: center;
}

#salaryTable {
    justify-content: space-evenly;
    width: 100%;
    border: black 1px solid;
    text-align: center;
}

#tableHeaders {
    border: black 1px solid;
}

td {
    border: black 1px solid;
}

h2 {
    padding: 25px;
    width: 300px;
    height: 50px;
    text-align: right;
}

#salaryTotal {
    margin: 1px;
    text-align: center;
}